.identity {
  display: flex;
  align-items: center;
}

.identity span {
  margin-right: var(--margin);
}

.avatar {
  cursor: pointer;
  float: right;
}

.identityMenu {
  position: absolute;
  top: 40px;
  right: var(--margin);
  background: var(--background-color);
  clear: both;
  margin-top: 40px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 15px;
  border: 1px solid rgba(255 255 255 / 20%);
}

.userTitle {
  font-weight: bold;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: var(--margin);
  margin-bottom: var(--margin);
}

.userInfo p {
  margin: 0;
}
